<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DFM Transfer Module Tests">
    <test name="All Tests">
        <classes>
            <class name="com.DFM.DFM_transfer_module.integration.transfer.TransferTest"/>
            <class name="com.DFM.DFM_transfer_module.DfmTransferModuleApplicationTest"/>
        </classes>
    </test>
</suite>